certifi==2024.2.2
charset-normalizer==3.3.2
fpdf2==2.4.2
hugchat==0.4.1
idna==3.6
pillow==10.3.0
pygame==2.5.2
requests==2.31.0
requests-toolbelt==1.0.0
typing_extensions==4.4.0
urllib3==2.2.1
word-search-generator==3.5.0
